html {
    height: auto;
    width: auto;
    background-color: #ffffff;
}

body{
    background-color: #5b3c44
}

h1, h3{
    text-align: center;
    font-size: 40px;
    font-family: monospace;
    color: #ffffff;
}

h3{
    font-size: 20px;
    font-family: monospace;
    font-style: italic;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #b5979c;
    padding: 10px;
    font-family: monospace;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: auto;
    background-color: #a77b84;
    justify-content: center;
}

li {
    display: block;
    display: inline;
    padding: auto;
    text-decoration: none;
}

/* li:hover{
    background-color: #835861;
} */

a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        padding: auto;
        /* width: 100%; */
        margin-right: 50px;
        font-size: 15px;
        font-weight: bolder;

}

a:hover{
    background-color: #835861;
}
