html {
    height: auto;
    width: auto;
}

body{
    background-color: #ffffff;
}

h1, h3{
    text-align: center;
    font-size: 40px;

}

nav {
    display: flex;
    justify-content: center;
    width: auto;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: auto;
    background-color: #b59298;
    justify-content: center;
}

li {
    display: block;
    display: inline;
    padding: auto;
    text-decoration: none;
}

/* li:hover{
    background-color: #835861;
} */

a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        padding: auto;
        /* width: 100%; */
        margin-right: 20px;

}

a:hover{
    background-color: #835861;
}
